body {
  background-image: url(https://images.pexels.com/photos/5088009/pexels-photo-5088009.jpeg?cs=srgb&dl=pexels-olia-danilevich-5088009.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1 {
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  background-image: linear-gradient(to left, #8eee10, #f8a649);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(194, 211, 147, 0.1),
    3px 4px 4px rgba(197, 211, 147, 0.15), 4px 6px 4px rgba(201, 198, 65, 0.2),
    5px 8px 4px rgba(185, 206, 111, 0.25);
}
/* Input Field */
input[type="text"] {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #b29071;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

/* Buttons */
.button-33,
.button-37 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px; 
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover,
.button-37:hover {
  background-color: #fff;
}
.button-33:active,
.button-37:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* Todo List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(236, 168, 168, 0.603);
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideInLeft 0.4s ease-out;
}

/* Todo Text */
.todo-text {
  flex-grow: 1;
  margin-right: 20px;
  color: #000000;
  cursor: pointer;
  font-size: 25px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #b29071;
}

/* Animation for list items */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .button-33,
  .button-37 {
    min-width: 80px;
    padding: 10px 25px;
  }
}
